<div style=" background-color: rgb(14, 3, 46)">
    <br/>
    <br/>
    <br/>
    <br/>
</div>

<nav class="navbar navbar-expand-md color-navbar ">
    <a class="navbar-brand letra" href="#"><b>PROPIEDADES FLORES</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <a class="navbar-brand" href="#">
        <img src="../../../assets/Casa-Real-5.jpg" width="30" height="30" alt="">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item " routerLinkActive="active">
                <a class="nav-link letra" [routerLink]="['Home']"><b>HOME</b></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link letra" [routerLink]="['Propiedades']"><b>PROPIEDADES</b></a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link letra" [routerLink]="['Contacto']"><b>CONTACTO</b></a>
            </li>


        </ul>
    </div>
</nav>

<router-outlet></router-outlet>