.quienes-somos {
    padding-left: 2%;
    padding-right: 2%;
    background-image: url("../../../assets/fondo.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    height: 500px;
}

.container-fluid {
    padding-top: 3%;
    padding-left: 6%;
    padding-right: 6%;
}

.letra {
    font-family: 'Forum', cursive;
    color: rgb(14, 19, 70);
}