<div class="container-fluid">
    <div class="quienes-somos rounded">
        <h1 class="display-4 letra" style="float: initial">PROPIEDADES FLORES</h1>
        <p class="lead letra">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        <!-- <img class="imagen" src="../../../assets/inicio.jpg">-->

        <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
        <p class="lead letra">
            <a class="btn btn-primary btn-lg letra" [routerLink]="['/Propiedades']" role="button"><b>NUESTRAS PROPIEDADES</b></a>
        </p>
    </div>

</div>