<div class="container-fluid">


    <div class="row justify-content-center">
        <div class="card col-sm-3">
            <img class="imagen" src="../../../assets/Casa-Real-5.jpg">
            <div class="card-body">
                <h5 class="card-title">Casa</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary letra">VER MÁS
                </a>
            </div>
        </div>

        <div class="card col-sm-3">
            <img class="imagen" src="../../../assets/Casa-Real-5.jpg">
            <div class="card-body">
                <h5 class="card-title">Departamento</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary"><b class="letra">Detalle</b></a>
            </div>
        </div>

        <div class="card col-sm-3">
            <img class="imagen" src="../../../assets/Casa-Real-5.jpg">
            <div class="card-body">
                <h5 class="card-title letra">Departamento</h5>
                <p class="card-text letra">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary"><b class="letra">Detalle</b></a>
            </div>
        </div>
    </div>
</div>